.contacts_section{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.contacts_section span{
    font-size: 12px;
}

.contact_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}

.contact_row i {
    padding: 0 15px 0;
    padding-left: 0;
    font-size: 18px;
}