@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.btn {
    padding: 0.5em 1.7em;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #f05f40;
    display: inline-block;
    transition: all 0.2s ease-in-out !important;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}
.btn:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.btn:hover {
    background-color: #f05f40;
    color: #fff !important;
    text-decoration: none;
}
.btn:hover:before {
    transform: skewX(-45deg) translateX(14em);
    transition: all 0.5s ease-in-out;
}
